{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/arrow_back.svg">
        </button>
        <button class="button">
            <img src="/img/profile_icon.png">
        </button>
    </header> --}}

    {{!-- <h1 class="page__title">Мій блог</h1> --}}

    {{!-- <section class="card__section">
        <div class="card">
            <div class="card__info">
                <span class="tags">
                    <span class="tag--important tag">Важливо</span>
                    <span class="tag--new tag">Нова</span>
                </span>
                <span class="date">25.01</span>
            </div>
            <div class="card__content">
                <p>
                    До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
                </p>
            </div>
        </div>

        <div class="card card--light">
            <div class="card__info">
                <span class="tags">
                    <span class="tag--important tag">Важливо</span>
                    <span class="tag--new tag">Нова</span>
                </span>
                <span class="date">15.01</span>
            </div>
            <div class="card__content">
                <p class="card__content--gray">
                    Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card__info">
                <span class="tags">
                    <span class="tag--important tag">Важливо</span>
                    <span class="tag--new tag">Нова</span>
                </span>
                <span class="date">25.01</span>
            </div>
            <div class="card__content">
                <p>
                    До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
                </p>
            </div>
        </div>
    </section>
</div> --}}

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}