@use '../../style' as s;

.page {
	// background: s.color(dark);
	// color: s.color(light);
	padding: s.space(4);
	width: 375px;
	height: 812px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 20px;
	gap: s.space(5);
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top:56px ;
}

.button {
	transition: 0.7s opacity;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.page__title {
	font-size: 24px;
	color: #121212;
}

.post__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post {
	display: flex;
	flex-direction: column;
	gap: s.space(2);
	padding: s.space(4);
	background-color: #F7F7F7;
	border-radius: 10px;
}

.post__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post__category--list{
	display: flex;
	gap: 8px;
}

.post__category {
	padding: 8px 12px;
	border-radius: 100px;

	&--1 {
		color: #F46F17;
		background-color: #F7E9E1;
	}

	&--2 {
		color: #EF5DA8;
		background-color: #F6E8EF;
	}
}

.post__date {
	color: #888;
}

.post__info {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
}

.post--viewed {
	color: #888;
	background-color: transparent;
	border: 1px solid #E6E6E6;
}